<%= search_form_for(@q, url: search_path) do |f| %>
  <p>
    <% #名前をテキストフィールドを用いて検索 %>
    <%= f.label :name_cont, '名前'%>
    <%= f.search_field :name_cont %><br>
    <% #学部をセレクトボックスを用いて検索 %>
    <%= f.label :department_id_eq, '学部'%>
    <%= f.collection_select :department_id_eq, @departments, :id, :name, :include_blank => '指定なし' %><br>
    <% #性別をラジオボタン(オブジェクトを利用しないver)を用いて検索 %>
    <%= f.label :sex_eq, '性別' %>
    <%= f.radio_button :sex_eq, '', checked: true %>指定なし
    <%= f.radio_button :sex_eq, '男' %>男
    <%= f.radio_button :sex_eq, '女' %>女<br>
    <% #年齢をラジオボタン(オブジェクトを利用しないver)を用いて検索 %>
    <%= f.label :age_gteq, '年齢'%>
    <%= f.radio_button :age_gteq, '', checked: true %>指定なし
    <%= f.radio_button :age_gteq, '15' %>15歳以上
    <%= f.radio_button :age_gteq, '20' %>20歳以上<br>
    <% #履修科目をチェックボックスを用いて検索 %>
    <%= f.label :subjects_id_in, '履修科目' %>
    <%= f.collection_check_boxes :subjects_id_in, @subjects, :id, :name %>
  </p>
  <%= f.submit %>
<% end %>
