<%= search_form_for(@q, url: search_path) do |f| %>
  <p>
    <%= f.label :age_gteq, '性別' %>
    <%= f.radio_button :age_gteq, '', checked: true %>指定なし
    <%= f.radio_button :age_gteq, '15' %>15歳以上
    <%= f.radio_button :age_gteq, '20' %>20際以上
  </p>
  <%= f.submit %>
<% end %>
