<h1>学生検索</h1>
<%= render 'search_form' %>
<table>
  <% @students.each do |student| %>
  <tr>
    <td><%= student.name %></td>
    <td><%= student.sex %></td>
    <td><%= student.age %></td>
    <td><%= student.department.name %></td>
    <td><%= student.subjects.map{|subject| Subject.find(subject.id).name}.join(', ') %></td>
  </tr>
  <% end %>
</table>
